# Notion API Configuration
NOTION_API_KEY=your_notion_integration_token
ASSIGNMENTS_DATABASE_ID=your_assignments_database_id
SUBSCRIPTIONS_DATABASE_ID=your_subscriptions_database_id

# Calendar Settigs
ASSIGNMENTS_CALENDAR_NAME=your_desired_name_for_the_assignments_calendar
SUBSCRIPTIONS_CALENDAR_NAME=your_desired_name_for_the_subscriptions_calendar
TOKEN=your_randomly_generated_token